<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active mx-2em">
      <a routerLink="/" class="btn btn-link">Clients</a>
    </li>
    <li class="nav-item">
      <a routerLink="/blog" class="btn btn-link">Blog</a>
    </li>
    <li class="nav-item">
      <a routerLink="/chrono" class="btn btn-link">Chronomètre</a>
    </li>
    <li class="nav-item">
      <a routerLink="/xhr" class="btn btn-link">CustomersXhr</a>
    </li>
    <li class="nav-item">
      <a routerLink="/exo2" class="btn btn-link">Exercice2</a>
    </li>
  </ul>
</div>
</nav>
<main class="container pt-5">
  <h1>Angular CRM</h1>
  <router-outlet></router-outlet>
</main>
